.workouts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 5px black;
    margin: 2rem;
    max-height: 40rem;
    overflow: scroll;
  }
  
  .workout {
      flex-basis: 20%;
      margin: 1em;
      padding: 1em;
      height: 10em;
      width: 10em;
      border: 1px solid goldenrod;
  }

  .workoutView {
    flex-basis: 50%;
    margin: 1em;
    padding: 1em;
    height: 10em;
    width: 10em;
    
  }

