
.workoutLibrary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
}

.workoutLibrary__header {
  display: flex;
  display: row;
  justify-content: space-between;
  align-items: baseline;
  margin: 2rem 20rem 1rem 20rem;
}

.button__buildAWorkout {
  max-width: 10rem;
  max-height: 2rem
}

.workoutLibrary__workouts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-height: 40rem;
    overflow: scroll;
    margin: 2rem 20rem 2rem 20rem;
    border: 0.5rem solid #00587a;
  }
  
  .workout {
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-content: space-around;
      flex-wrap: wrap;
      /* flex-basis: 25%; */
      margin: 1.75rem;
      padding: 1.25rem;
      height: 12rem;
      width: 12rem;
      border: .2em solid #008891
  }

  .workout__name {
    text-align: center;
    margin: auto;
  }

  .button__workout {
    max-width: 8rem;
    margin: auto;
  }
